.contact_hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* overflow-y: hidden; */
}

#contact {
  position: relative;

  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: dodgerblue; */
  background-color: rgba(29, 28, 28, 0.301);
  background-image: linear-gradient(
    to right,
    rgba(29, 28, 28, 0.301),
    rgba(0, 0, 0, 0.979)
  );
  box-shadow: rgb(0, 0, 0) 0px 20px 40px -10px;
  font-family: "Source Code Pro", monospace;
  color: bisque;
  padding-bottom: 50px;
  padding-top: 50px;
  transform: scale(1.2);
}
input {
  padding-left: 20px;
  height: 40px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: large;
}

.contact_bg {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
  border-radius: 0;
  position: absolute;
  top: 50px;
  filter: blur(10px) opacity(0.4);
}

.contact_img {
  position: relative;
  bottom: 20px;
  filter: brightness();
}

.contact_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: greenyellow;
  border: none;
  margin-top: 50px;
  padding: 10px;
  color: black;
  font-weight: bolder;
  font-family: "Source Code Pro", monospace;
  cursor: pointer;
}
@media (max-width: 500px) {
  .contact_item {
    display: flex;
    align-items: flex-start;
    transform: scale(0.6);
  }
  input {
    width: 300px;
  }
}
